body {
    background-color: #dbe7db;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #f5f5f5;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.header {
    background-color: #5ea660;
    border-radius: 10px;
    padding: 10px;
}

.day {
    cursor: pointer;
}

.day:hover {
    background-color: #e0e0e0;
}

.top-banner {
    height: calc(100vh / 8);
    background-color: #54a577;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

#logout {
    font-weight: bold;
}

.rounded-circle {
    width: 40px;
    height: 40px;
    line-height: 30px;
    text-align: center;
}

.btn-banner-color {
    background-color: #54a577;
    color: white;
}

.btn-banner-color:hover {
    background-color: #54a577;
}

#colorPicker {
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    animation: zoomIn 0.05s ease-out;
}

.close-icon {
    position: absolute;
    top: 4px;
    right: 4px;
    cursor: pointer;
}

.colors {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 150px;
}


.color-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}

@keyframes zoomIn {
    0% {
        transform: scale(0.7);
    }

    100% {
        transform: scale(1);
    }
}